#contentRow {
    margin-top:50px;
}

.animeImageColumn img:hover {
    opacity: 1.0;
    cursor: url('/images/ok-hand-sign.png'), auto;
}

.animeImageColumn img {
    opacity: 0.8;
}

.animeImageColumn {
    height: 350px;
}

.buttonsColumn {
    text-align:center;
}

.animeDescription {
    margin-top:5px;
    text-align:center;
}

#drawButton {
    margin-top:100px;
}