<template name="mainPage">
    {{#if pageLoaded}}
        {{> animeCompare}}
        {{> animeTable}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>

<template name="animeCompare">
    <div class="row" id="contentRow">
        {{#with anime1Document}}
            <div class="col-md-4 contentColumn" id="anime1">
                <div class="row">
                    <div class="col-md-12 animeImageColumn">
                        <img src="{{animeDetails.image}}" class="animeImage center-block">
                    </div>
                    <div class="col-md-12 animeDescription">
                        <p class="lead">{{animeDetails.name}}</p>
                    </div>
                </div>
            </div>
        {{/with}}
        <div class="col-md-4 buttonsColumn">
            <a href="#" class="btn btn-warning btn-lg" id="drawButton"><strong>DRAW</strong></a>
        </div>
        {{#with anime2Document}}
            <div class="col-md-4 contentColumn" id="anime2">
                <div class="row">
                    <div class="col-md-12 animeImageColumn">
                        <img src="{{animeDetails.image}}" class="animeImage center-block">
                    </div>
                    <div class="col-md-12 animeDescription">
                        <p class="lead">{{animeDetails.name}}</p>
                    </div>
                </div>
            </div>
        {{/with}}
    </div>
</template>

<template name="loading">
    Loading...
</template>

<template name="animeTable">
    <div class="row">
        <div class="col-md-3">
            <button type="reset" class="btn btn-primary" data-toggle="modal" data-target="#exportListModal">Export to MAL</button>
        </div>
        {{> reactiveTable settings=tableSettings rowsPerPage=100}}
    </div>

    <div class="modal" id="exportListModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Export to MAL</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Clicking the export button below will generate an XML file for download. Once downloaded,
                        go to <a href="https://myanimelist.net/import.php" target="_blank">the MAL import page</a> and
                        follow the instructions there using the XML file to update your scores.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="exportListModalSubmitButton">Export!</button>
                </div>
            </div>
        </div>
    </div>
</template>